* {
    margin: 0;
    padding: 0;
}

#miguemx {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

/*#miguemx > img {
}*/

#please {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.petition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petition > .entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
