* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f2963;
    color: white;
}

#miguemx {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 5vw 0;
    background-color: rebeccapurple;
}

.image-container img {
    width: 184px;
    height: 184px;
}

#please {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.petition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petition > .entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.image-container {
    position: relative; /* anchor for absolute children */
    width: 180px; /* match background image size */
}

.bg {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none; /* optional */
}
