* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
picture {
  display: flex;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#reload {
  margin-top: 1rem;
}

.image-container {
  position: relative;
  width: 180px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-background {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.image-background:hover {
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 180px;
  border-radius: 50%;
  opacity: 1;
}

.space-btn {
  color: #000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 15rem;
  padding: 0.25em 1em;
}

body {
  font-family: "Roboto", sans-serif;
}
main {
  .title {
    color: #ffffff;
    font-size: clamp(1.5rem, 4vw, 3.125rem);
    text-align: center;
  }
  .msn {
    font-size: clamp(0.938rem, 4vw, 1.25rem);
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    &-title {
      font-size: clamp(1.25rem, 4vw, 2.5rem);
    }
    .space-btn {
      color: #ffffff;
    }
    &.action {
      margin-top: 1.25rem;
      font-size: 0.875rem;
      text-decoration: underline;
      cursor: pointer;
      font-weight: 500;
    }
  }
 
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.5);
  transition: all 0.3s ease;
  inset: 0;
  justify-content: center;
  align-items: center;
  .modal-content {
    width: min(90%, 400px);
    background: #efefef;
    border-radius: 1.25rem;
    padding: 1.5rem;
    margin: 0 auto;
    position: relative;
    .close {
      width: min(100%, 1.25rem);
      aspect-ratio: 1/1;
      position: absolute;
      bottom: calc(100% + 0.313rem);
      right: 0;
      background: #ffffff;
      border-radius: 50%;
      cursor: pointer;
      img {
        pointer-events: none;
      }
    }
    .list-grid {
      list-style-type: none;
      display: grid;
      gap: 1.25rem;
      grid-template-columns: repeat(2, 1fr);
      .list-item {
        border-radius: 0.625rem;
        overflow: hidden;
        background: #606060;
      }
    }
  }
  &[open] {
    display: grid;
    opacity: 0;
  }
  &.active {
    opacity: 1;
  }
  &.show {
    animation: modalShow 0.3s ease;
  }
  &.hide {
    animation: modalhide 0.3s ease;
  }
}
@keyframes modalShow {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes modalhide {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}